@import './variables';

nav {
  display: flex;
  justify-content: flex-end;
  place-items: center;
  height: 100%;
  background: transparent;
  .logo {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .menu-items-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    place-items: center;
    .logo-search__container {
      display: flex;
      height: 100%;
      width: 70%;
      align-items: center;
      .logo {
        margin-right: 2rem;
      }
      .travelers-search {
        width: 45%;
      }
      .ant-select-clear {
        display: inline-block;
        opacity: 1;
        background: #015b53;
        font-size: 15px;
        top: 48%;
      }
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: rgba(0,0,0,.2);
        border: none;
        color: #EDEDE8;
      }
    }
    .links-container_horizontal {
      height: 100%;
      list-style: none;
      display: flex;
      margin-top: 0.9rem;
      place-items: center;
      justify-content: space-between;
      .signout-btn {
        background-color: #343a40;
        border: none;
      }
      li {
        margin: 0 .5rem;
        a {
          width: 20%;
          margin: 0 0.5rem;
          text-align: center;
          height: 100%;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
  }
}

.navigation-tabs {
  height: 55px;
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  align-items: center;
  padding: 0 2em;
  margin-top: 55px;
  border-bottom: 1px solid lightgray;
}

.navigation-tabs__radio-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
}

.navigation-tabs__back-btn {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

.navigation-tabs__arrow-btn {
  font-size: 1.7rem;
  margin-right: 3px;
  color: #3c4245;
}

.navigation-tabs__main-radio-btn {
  display: block;
}

.navigation-tabs__second-radio-btn {
  height: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  .ant-radio-button-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    margin: 0;
    border-color: transparent !important;
    border-top-width: 0;
    border-left-width: 0;
    cursor: pointer;
    transition: none;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: white;
    transition: none;
    border-color: white;
    content: '';
  }
  .ant-radio-button-wrapper-checked {
    color: #12b886;
    font-weight: bold;
  }
  .ant-radio-button-checked {
    border-bottom: 3px solid #12b886;
  }
}

@media(max-width: 768px) {
  nav {
    padding: 0 2em;
    .menu-items-container {
      .logo-search__container {
        width: 100%;
        .travelers-search {
          width: 800px;
        }
      }
    }
    .menu-items-container .links-container_horizontal {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }

    .logo {
      display: none;
    }
  }
  .navigation-tabs {
    padding: 0;
  }
  .navigation-tabs__main-radio-btn {
    display: none;
  }
  .navigation-tabs__radio-container {
    width: 100%;
    height: 100%;
  }
}

// menu-vertical

nav {
  .links-container_vertical {
    height: 100%;
    width: 100%;
    list-style: none;
    text-align: center;
    margin-top: .9rem;
    place-items: center;
    margin-left: 5px;
    li {
      width: 100%;
      margin-bottom: 2rem;
      justify-content: center;
      place-items: center;
      display: grid;
      align-items: center;
      text-align: center;
      height: 10%;
    }
  }
}
