@import "./variables";
.todo-list__container {
  background-color: #343a40;
  margin: 0;
  padding: 3em 0 1em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
}

.travelers-list__container {
  width: 60%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
}

.traveler-list__item {
  background-color: white;
  border-bottom: 1px solid lightgray;
}
